<!-- <ion-nav #nav [root]="startPage">-->
<!--        <ion-list>-->
<!--                <ion-item *ngFor="let tech of techs" button (click)="showDetail(tech.title)">-->
<!--                  <ion-icon slot="start" name="logo-${tech.icon}" style="color: {{tech.color}};"></ion-icon>-->
<!--                  <ion-label>-->
<!--                    <h3>{{tech.title}}</h3>-->
<!--                  </ion-label>-->
<!--                </ion-item>-->
<!--        </ion-list>-->
<!--    </ion-nav>-->
<ion-header>
    <ion-toolbar>
        <ion-title>
            Shop
        </ion-title>
        <ion-buttons class="relative ion-margin-end" routerLink="/main/tabs/shop/cart" slot="end">
            <span class="text-green" *ngIf="platform.is('ios')">Cart({{purchase.cart.length}})</span>
            <ion-icon *ngIf="!platform.is('ios')" slot="icon-only" name="cart"></ion-icon>
            <ion-badge *ngIf="!platform.is('ios')" id="icon-badge" color="secondary">{{purchase.cart.length}}</ion-badge>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-searchbar showCancelButton="focus" animated="true"
                       [debounce]="400" (ionChange)="onSearch($event)" (keyup.enter)="onSearch($event)" type="search"></ion-searchbar>
        <ion-list-header>
            <ion-label>CATEGORIES</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let cat of categories" button (click)="showDetail(cat.name)">
            <!--<ion-icon slot="start" [name]="'logo-' +tech.icon" [ngStyle]="{color: tech.color}"></ion-icon>-->
            <ion-thumbnail slot="start">
                <ion-img [src]="cat.imageUrl" style="border-radius: 50%;"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h3>{{cat.name}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
