#body {
  background: url("../../../assets/images/login-bg.jpg") fixed no-repeat center;
  background-size: cover;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.7);
  color: #e6e8ff;
}
ion-input {
  width: 100%;
  background-color: transparent;
}
