<ion-header>
  <ion-toolbar>
    <ion-title>
      ZigZag
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/images/cart.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to ZigZag</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Browse through our list of common items</p>
      <p>Buy and get your products at your doorsteps</p>
      <p>Payments are made on delivery</p>
    </ion-card-content>
  </ion-card>
<!-- categories -->
  <ion-row>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>CATEGORIES</ion-label>
      </ion-list-header>
      <!--    -->
      <section class="horizontal py-2">
        <div class="h-card shadow px-2 rounded border bg-green text-white" *ngFor="let category of categories"
             (click)="navigateCategory(category.name)">
          <div>
            <h3 class="title">{{category.name}}</h3>
          </div>
        </div>
      </section>
      <!--      <ion-item routerLink="/main/tabs/shop/categories">-->
      <!--        <ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
<!--        <ion-label>Browse more categories</ion-label>-->
<!--      </ion-item>-->
    </ion-list>
  </ion-row>
<!--  items-->
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>POPULAR ITEMS</ion-label>
    </ion-list-header>
    <!--      <ion-item routerLink="categories">-->
    <!--        <ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
    <!--        <ion-label>Browse items</ion-label>-->
    <!--      </ion-item>-->
    <!--      <ion-item href="https://ionicframework.com/docs/building/scaffolding">-->
    <!--        <ion-icon slot="start" color="medium" name="build"></ion-icon>-->
    <!--        <ion-label>Scaffold Out Your App</ion-label>-->
    <!--      </ion-item>-->
    <!--      <ion-item href="https://ionicframework.com/docs/layout/structure">-->
    <!--        <ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
    <!--        <ion-label>Change Your App Layout</ion-label>-->
    <!--      </ion-item>-->
    <!--      <ion-item href="https://ionicframework.com/docs/theming/basics">-->
    <!--        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>-->
    <!--        <ion-label>Theme Your App</ion-label>-->
    <!--      </ion-item>-->
    <ion-card class="items-card">
      <img src="../../assets/images/products/food.jpg" alt="" />
      <ion-card-header>
        <!--          <ion-card-subtitle>Get Started</ion-card-subtitle>-->
        <ion-card-title>Food</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <h1>{{750 | localeCurrency}}</h1>
            </ion-col>
            <ion-col size="5">
              <ion-button size="small">+ Add to cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card class="items-card">
      <img src="../../assets/images/products/drinks.jpg" alt="" />
      <ion-card-header>
        <!--          <ion-card-subtitle>Get Started</ion-card-subtitle>-->
        <ion-card-title>Cocktails</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <h1>{{750 | currency: 'XAF'}}</h1>
            </ion-col>
            <ion-col size="4">
              <ion-button size="small">+ Add to cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card class="items-card">
      <img src="../../assets/images/products/burgers.jpg" alt="" />
      <ion-card-header>
        <!--          <ion-card-subtitle>Get Started</ion-card-subtitle>-->
        <ion-card-title>Burgers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <h1>{{1500 | currency: 'XAF'}}</h1>
            </ion-col>
            <ion-col size="4">
              <ion-button size="small">+ Add to cart</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-item routerLink="/main/tabs/shop/items">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Browse more items</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
